* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: Lato;
}

header {
    /* width: 390px; */
    /* height: 382px; */
    /* border: 1px solid red; */
    padding-block-start: 6rem;
    padding-block-end: 4rem;
    padding-inline-start: 1rem;
    padding-inline-end: 2rem;
}

header h1 {
    font-weight: 800;
    font-size: 2.25rem;
    padding-block-end: 3rem;
}

header p {
    font-weight: 500;
    font-size: 1.25rem;
}

span {
    color: #009966;
    font-weight: bold;
}

.small {
    height: 7px;
    background-color: #999999;
}

.line {
    height: 60px;
    background-color: #666666;
    margin-block-end: 0.438rem;
}

/* ************************ MAIN DIV STYLING ************************************* */


section {
    height: 82px;
    width: 374px;
    background-color: #FFBF00;
    padding-block-start: .4rem;
    padding-block-end: .4rem;
    padding-inline-start: 1rem;
    padding-inline-end: 2rem;
    border-bottom: 8px solid #CC9900;
}

section h1 {
    font-weight: 800;
    font-size: 1.5rem;
}

main {
    padding-inline-start: 1rem;
    padding-inline-end: 2rem;
    /* border: solid 1px navy; */
    height: 767px;
    width: 390px;
}

main p {
    padding-block-start: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
}