* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: Lato;
}

header {
    /* width: 390px; */
    /* height: 382px; */
    /* border: 1px solid red; */
    padding-block-start: 6rem;
    padding-block-end: 4rem;
    padding-inline-start: 1rem;
    padding-inline-end: 2rem;
}

header h1 {
    font-weight: 800;
    font-size: 2.25rem;
    padding-block-end: 3rem;
}

header p {
    font-weight: 500;
    font-size: 1.25rem;
}

span {
    color: #009966;
    font-weight: bold;
}


.line {
    border-top: 7px solid #999999;
    height: 60px;
    background-color: #666666;
    margin-block-end: 0.438rem;
}

/* ************************ MAIN DIV STYLING ************************************* */


section {
    height: 82px;
    width: 374px;
    background-color: #FFBF00;
    padding-block-start: .4rem;
    padding-block-end: .4rem;
    padding-inline-start: 1rem;
    padding-inline-end: 2rem;
    border-bottom: 8px solid #CC9900;
}

section h1 {
    font-weight: 800;
    font-size: 1.5rem;
}

main p {
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
    padding-inline-start: .8rem;
    padding-inline-end: .8rem;
}

/* ***********STYLING FOR PHONE********************* */

@media (min-width: 320px) and (max-width: 420px) {
    .do_not_display {
       display: none;
    }
}
/* ***********STYLING FOR TABLETS********************* */
@media (min-width: 768px) and (max-width: 1114px) {
    section {
        padding-inline-end: 0rem;
        padding-block-start: 1.5rem;
    }
    
}
/* ***********STYLING FOR DESKTOP********************* */

@media (min-width: 1024px) and (max-width: 1366px)  {
    header, main {
        margin: 0 auto;
        width: 80%;
    }


    section {
        padding-inline-end: 1.5rem;
        padding-block-start: 1.5rem;
        padding-inline-start: 2rem;
        margin-inline-start: -.5rem;
        width: 40%;
    }

    main {
        background-color: #ffffff;
        border-bottom: 7px solid #999999;
        padding-block-start: .7rem;
    }

    main p {
        padding-inline: 1.2rem;
    }

     .bottom {
        padding-block-start: 3rem;
        padding-block-end: 3rem;
        border-top: 7px solid #999999;
        background-color: #666666;
     }

    .line {
        display: none;
     }
}
